body{
    background-color:rgb(240,240,240);
}

#options{
    position:absolute;
    background-color:transparent;
}

#container{
    box-shadow:0px 0px 3px #888888;
    width:826px;
    height:1066px;
    font-family:arial;
    margin:auto;
    background-color:white;
}
#inner_container{
    padding:100px;
}

#branch_container{
    height:500px;
    /*padding-bottom:50px;*/
}

#heading_container{
}
.relation{
    padding-top:50px;
    font-size:18px;
    font-weight:bold;
    color: rgb(50,50,50);
    /*border-bottom-color:rgb(200,200,200);
    border-bottom-width:1px;
    border-bottom-style:solid;*/
}
.object{
    padding-top:5px;
}
.object:hover{
    background-color:#ADD8E6;
    /*outline: 2px solid black;*/
}


svg{
    background-color:transparent;
    margin:0 auto;

    border-color:rgb(200,200,200);
    border-width:1px;
    border-style:solid;
}
rect{
    stroke:rgb(200,200,200);
    fill:white;
}
text{
    font-family:arial;
    fill:black;
}
text:hover{
    fill:blue;
}
circle{
    fill:white;
    fill-opacity:.5;
    stroke:rgb(127,127,127);
    stroke-width:2px;
}
circle:hover{
    fill:#ADD8E6;
}