body {
    background-color:rgb(240,240,240);
}
#options {
    position:fixed;
    background-color:transparent;
}
#container {
    box-shadow: 0px 0px 2px #888888;
    width: 822px;
    height: 1064px;
    font-family: arial;
    font-size: 14.667px;
    margin: auto;
    background-color: white;
}

.intLink { cursor: pointer; }
label { cursor: pointer; }
#textBox {
    padding: 100px;
    height: 862px;
    font-family: arial;
}
#textBox #sourceText {
    padding: 0;
    margin: 0;
    min-width: 498px;
    min-height: 200px;
}
#myForm{
    float: right;
    text-align: right;
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;
}