body{
    background-color:rgb(240,240,240);
}#options{
    position:fixed;
    background-color:transparent;
}#container{
    box-shadow:0px 0px 2px #888888;
    width:826px;
    height:1066px;
    font-family:arial;
    margin:auto;
    background-color:white;
}#inner_container{
    padding:100px;
    height:866px;
}